.raise-ticket-container {
    padding: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 70vh;
    overflow-y: auto;
    color: #fbfafa;
    margin: 40px auto;
    box-sizing: border-box;
   /* Example background for main team page */
    margin-right: 40%;
    scrollbar-width: none;

}

.raise-ticket-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#47229e);
    z-index: -1;
}

.raise-ticket-container h1 {
    text-align: center;
    color: rgb(1, 1, 1);
    margin-bottom: 20px;
}

.raise-ticket-form-container {
    margin-top: 20px;
}

.raise-ticket-form-group {
    margin-bottom: 15px;
}

.raise-ticket-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(2, 2, 2); /* White text color for labels */
}

.raise-ticket-form-group input,
.raise-ticket-form-group select,
.raise-ticket-form-group textarea,
.raise-ticket-form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin-left: auto;
}

.raise-ticket-form-group textarea {
    height: 100px;
}

.raise-ticket-form-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.raise-ticket-half-width {
    flex: 1;
}

.raise-ticket-button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.raise-ticket-submit-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #0056B3;
    color: white;
    cursor: pointer;
    width: 20%;
}

.raise-ticket-submit-button:hover {
    background-color: #0056B3;
}

.raise-ticket-cancel-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    width: 20%;
}

.raise-ticket-cancel-button:hover {
    background-color: #a71d2a;
}



.notification-bar {
    color: #000;
}


.raise-ticket-cancel-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #0056B3;
    color: white;
    cursor: pointer;
    width: 20%;
    margin-left: 60%;
}
