.employee-form-container {
  width: 70%; /* Changed to 40% width */
  padding: 20px;
  margin: 40px auto;
  color: #000;
  
  box-sizing: border-box;
  margin-right: 40%;
}
/* Title style */
.employee-form-title {
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}
/* Form group style */
.employee-form-group {
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100%; /* Full width for all form groups */
}
/* Input field styles */
.employee-input-field {
  width: 100%; /* Full width for input fields */
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1%;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-left: auto;
}
/* Input label styles */
.employee-input-label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #888;
  transition: 0.2s;
  pointer-events: none;
  background-color: transparent;
}
/* Focused and non-placeholder-shown state for input fields */
.employee-input-field:focus + .employee-input-label,
.employee-input-field:not(:placeholder-shown) + .employee-input-label {
  top: -10px;
  left: 15px;
  color: #000;
}
/* Name container styles */
.employee-name-container {
  width: 100%; /* 100% width for the name container */
}
/* Submit button styles */
.employee-submit-button {
  width: 20%; /* 100% width for the button */
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
/* Button hover effect */
.employee-submit-button:hover {
  background-color: #45A049;
  transform: scale(1.05);
}
/* Popup styles */
.popup {
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  background-color: #357235;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 2050;
  opacity: 0.9;
  margin-left: 33%;
 
}