.slider-container {
    position: fixed;
    top: 22%;
    right: 0;
    width: 200px; /* Decrease this value as needed */
    height: 5%; /* Keeps height automatic based on content */
    z-index: -1;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.slider-container img {
    width: 100%;
    height: auto;
    
    border-radius: 5px;
}
.slide {
    text-align: center;
}
.image-details {
    margin-top: 20px;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    height: fit-content;
}
@media (min-width: 320px) and (max-width: 480px) {
    /* Mobile devices - Hide the slider container */
    .slider-container {
        width: 20%;
        height: 30px;
        padding: 5px;
        border-radius: 5px;
    }
    .image-details {
        font-size: 5px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    /* Small tablets */
    .slider-container {
        width: 25%;
        height: 40px;
        padding: 5px;
       
    }
    .image-details {
        font-size: 13px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    /* Tablets and small desktops */
    .slider-container {
        width: 30%;
        height: 50px;
        padding: 5px;
        
    }
    .image-details {
        font-size: 14px;
    }
}
@media (min-width: 1025px) {
    /* Desktops and larger screens */
    .slider-container {
        width: 340px;
        height: 400px;
        padding: 10px;
        
    }
    .image-details {
        font-size: 15px;
    }
}