.leave-requests-container {
  padding: 20px;
  height: 70vh;
  color: #000;
  overflow-y: auto;
  margin: 40px auto;
  box-sizing: border-box;
  margin-right: 40%;

}

.leave-requests-container::-webkit-scrollbar {
  display: none;
}

.leave-requests-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.leave-requests-header {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.leave-requests-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.leave-requests-table th,
.leave-requests-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
  white-space: normal;
}

.leave-requests-table th {
  background-color: #2f30312f;
  font-weight: bold;
}




.leave-requests-action-button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.leave-requests-accept-button {
  background-color: #4CAF50;
  color: white;
  width: 100px;
}

.leave-requests-accept-button:hover {
  background-color: #45a049;
}

.leave-requests-reject-button {
  background-color: #f44336;
  color: white;
  width: 100px;
}

.leave-requests-reject-button:hover {
  background-color: #da190b;
}
