body {
  position: fixed;
  width: 100%;
  height: 70%;
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  height: 70px;
}

.navBar-logoContainer {
  display: flex;
  align-items: center;
}

.navBar-logo {
  width: 20%;
  height: 20%;
}

.employee-navbar__home-button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

.employee-navbar__home-button-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-navbar__home-button:hover .employee-navbar__home-button-image {
  background-color: #45a049;
  transform: scale(1.05);
}

.navBar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.navBar-dropdownToggle {
  cursor: pointer;
  margin-left: 20px;
}

.navBar-profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.navBar-dropdownHeader {
  display: flex;
  align-items: center;
}

.navBar-dropdownTitle {
  color: rgba(7, 10, 92, 0.997); 
  font-size: 25px;
}

.navBar-dropdownIcon {
  color: rgba(7, 10, 92, 0.997); 
  font-size: 50px;
  margin-left: 10px;
}

/* Dropdown menu styles */
.navBar-dropdownMenu {
  position: absolute;
  background-color: rgba(7, 10, 92, 0.997); 
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navBar-menuItem {
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.navBar-profileDropdownMenu {
  position: absolute;
  top: 50px; /* Adjusted for the new navbar height */
  right: 0;
  font-size: 14px;
  border-radius: 5px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for dropdown */
}

.navBar-profileMenuItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(1, 1, 1);
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.navBar-profileIcon {
  font-size: 18px;
  margin-right: 10px;
}

.navBar-profileMenuItem:hover {
  color: rgb(35, 178, 245);
  background-color: rgba(35, 178, 245, 0.1);
}
