.unique-interview-container {
    color: #000000;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 40%;
    height: 70vh;
    overflow-y: auto;
    scrollbar-width: none;
    /* Center the container horizontally */
}

.unique-interview-list {
    list-style-type: none;
    padding: 0;
}

.interview-title {
    margin-left: 0%;
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
}

.unique-interview-item {
    margin: 10px auto;
    width: 97%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.699);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.unique-interview-item h3 {
    color: black;
    margin-top: 0;
    text-align: center; /* Center the applicant's name */
}

.unique-interview-item .details {
    align-self: flex-end; /* Align details to the right */
    text-align: left;
    width: 100%;
}

.unique-interview-item label {
    color: black;
    display: block;
    margin: 5px 0;
}

.unique-interview-item input {
    color: black;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
}

.edit-form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally within the container */
    width: 70%;
    margin: 0 auto; /* Center the form container itself */
    padding: 20px;
}

.edit-form-container label {
    margin-bottom: 10px;
}

.unique-button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.unique-button-group .unique-edit-btn,
.unique-button-group .unique-send-email-btn {
    width: 25%;
}

.unique-button-group button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.unique-button-group button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.unique-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.unique-back-btn {
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 40%;
}

.unique-back-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.unique-save-btn {
    width: 20%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.unique-save-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}