body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: url("./assets/bc.png");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container img {
  width: 84px;
  height: 84px;
}
.logo {
  padding: 5px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: #DBE1CD;
  }

.profile-container:hover {
    transform: scale(1.10);
    
  }
  .profile img {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(63, 52, 52, 0.1);
  }
.profile h2 {
  font-size: 18px;
  margin-top: 10;
}


.button1 {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, border 0.3s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  }


  .button1:hover {
    transform: scale(1.05);
    
  }

  .button2 {
    width: 200px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, border 0.3s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  }


  .button2:hover {
    transform: scale(1.05); 
  }

  @media (max-width: 600px) {
    .profile {
      font-size: 18px;
    }
    .logo {
      padding: 5px 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #ddd;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      
    .profile img {
      width: 60px;
      height: 60px;
    }
  
    .button1, .button2 {
      width: 150px;
      font-size: medium;
    }
  }

  @media (max-width: 768px) {
    .homepage {
      padding: 0.5em;
    }
  }

  @media (min-width: 768px) {
    .home-page {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    .logo-container {
      flex-direction: row;
      align-items: center;
    }
  
    .profile-container {
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      margin-right: 50px;
    }
  
    .profile {
      font-size: 30px;
      flex-direction: row;
    }
  
    .profile img {
      margin-top: 0;
      margin-right: 20px;
      width: 80px;
      height: 80px;
    }
  
    .button1, .button2 {
      width: auto;
      margin: 10px;
    }
  }

  @media (min-width: 1200px) {
    body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: url("./assets/bc.png");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.home-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
  text-align: left;
}
.logo-container img {
  width: 84px;
  height: 84px;
}
.logo {
  padding: 5px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.profile-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 50px;
}
.profile {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #DBE1CD;
}
/* .profile-container:hover {
  background-color: #5E60E0;
  border-radius: 40%;
} */
.profile-container:hover {
    transform: scale(1.10);
    
  }
.profile img {
margin-top: 50;
width: 50px;
height: 50px;
border-radius: 50%;
object-fit: cover;
border: 2px solid #ddd;
box-shadow: 0 4px 8px rgba(63, 52, 52, 0.1);
}
.profile h2 {
  font-size: 18px;
  margin-top: 10;
}


.button1 {
    width: 240%;
    padding: 0.75rem;
    margin-top: 250%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem; 
    margin-left: -560%;
    transition: transform 0.3s, border 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
  }


  .button1:hover {
    transform: scale(1.05);
    
  }

  .button2 {
    width: 210%;
    padding: 0.75rem;
    margin-top: 214%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem; 
    margin-left: -310%;
    transition: transform 0.3s, border 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
  }


  .button2:hover {
    transform: scale(1.05); 
  }

  .h1{
    color: white;
    margin-left: 20%;
    margin-top: 8%;
  }
  .homepage {
    padding: 1em;
    text-align: center;
  }
  }

  .h1{
    color: white;
    margin-left: 20%;
    margin-top: 8%;
  }
  .homepage {
    padding: 1em;
    text-align: center;
  }
  
  
 